#!/usr/bin/make -f

# Copyright (C) 2004, 2005 Mark Seaborn
#
# This file is part of Plash.
#
# Plash is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation; either version 2.1 of
# the License, or (at your option) any later version.
#
# Plash is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with Plash; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301,
# USA.


package=plash

GLIBC_VERSION = 2.4

GLIBC_BUILD = glibc-$(GLIBC_VERSION)-objs

binary:	binary-arch

clean:
	# nothing

stamp-dir/unpack-patch-glibc:
	./build-glibc.sh $(GLIBC_VERSION) unpack
	mkdir -p stamp-dir
	touch stamp-dir/unpack-patch-glibc

stamp-dir/configure-glibc: stamp-dir/unpack-patch-glibc
	./build-glibc.sh $(GLIBC_VERSION) configure
	mkdir -p stamp-dir
	touch stamp-dir/configure-glibc

stamp-dir/build-glibc: stamp-dir/configure-glibc
	./build-glibc.sh $(GLIBC_VERSION) build build_extra
	mkdir -p stamp-dir
	touch stamp-dir/build-glibc

configure:	configure.in
	autoconf

build:	stamp-dir/build-glibc configure
	$(checkdir)
	./configure GLIBC_DIR=$(GLIBC_BUILD)
	./make.sh
	(cd docs && ./make-man-pages.pl)
	(cd web-site && ./make.pl)

binary-arch:	checkroot build
	sh ./debian/make-package.sh

binary-indep:
	# nothing

define checkdir
        test -f debian/rules
endef

checkroot:
	$(checkdir)
	test $$(id -u) = 0
