Source: plash
Section: shells
Priority: optional
Maintainer: Mark Seaborn <mseaborn@jhu.edu>

Package: plash
Architecture: any
Depends: ${shlibs:Depends}
Description: The Principle of Least Authority Shell (Plash)
 Plash is a replacement Unix shell which allows the user to run
 programs with access only to the files that they need to run.
 .
 It works by virtualising the filesystem.  This is implemented by
 running programs with a modified version of GNU libc.
