Source: plash
Section: shells
Priority: optional
Maintainer: Mark Seaborn <mseaborn@onetel.com>
Build-Depends: perl, gcc-3.3, libc6-pic, dietlibc, libgtk2.0-dev, libreadline4-dev

Package: plash
Architecture: any
Depends: libc6 (>= 2.3.2.ds1-13), libncurses5 (>= 5.4-1), libreadline4 (>= 4.3-1)
Description: The Principle of Least Authority shell (Plash)
 Plash (the Principle of Least Authority shell) is a replacement Unix
 shell which lets the user run Linux programs with access only to the
 files and directories that they need to run.
 .
 It works by virtualizing the filesystem.  Each process can have its
 own file namespace.
 .
 This implemented in two steps: Firstly, processes are run in a
 chroot() environment under different UIDs, so they can't access files
 using the normal Linux system calls and are isolated from each other.
 Secondly, in order to open files, a process makes requests to a server
 process via a socket; the server can send file descriptors across the
 socket in reply.
 .
 Plash dynamically links programs with a modified version of GNU libc
 so that they can do filesystem operations using this different
 mechanism.
 .
 No kernel modifications are required.  Plash can run Linux binaries
 unmodified, provided they are dynamically linked with libc, which is
 almost always the case.
 .
 In most cases this does not affect performance because the most
 frequently called system calls, such as read() and write(), are not
 affected.
