#!/usr/bin/make -f

# Copyright (C) 2004, 2005 Mark Seaborn
#
# This file is part of Plash, the Principle of Least Authority Shell.
#
# Plash is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation; either version 2.1 of
# the License, or (at your option) any later version.
#
# Plash is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with Plash; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
# USA.


package=plash

GLIBC_DIR		= glibc-2.3.5
GLIBC_ARCHIVE		= glibc-2.3.5.tar.bz2
LINUXTHREADS_ARCHIVE	= glibc-linuxthreads-2.3.5.tar.gz

stamp-dir/unpack-patch-glibc:
	if [ ! -e $(GLIBC_ARCHIVE) ]; then \
	  echo File $(GLIBC_ARCHIVE) not present; \
	  echo Try downloading ftp://ftp.gnu.org/gnu/glibc/$(GLIBC_ARCHIVE); \
	fi
	if [ ! -e $(LINUXTHREADS_ARCHIVE) ]; then \
	  echo File $(LINUXTHREADS_ARCHIVE) not present; \
	  echo Try downloading ftp://ftp.gnu.org/gnu/glibc/$(LINUXTHREADS_ARCHIVE); \
	fi
	if [ ! -e $(GLIBC_ARCHIVE) ] || [ ! -e $(LINUXTHREADS_ARCHIVE) ]; then exit 1; fi
	# Unpack
	mkdir -p tmp
	bzip2 -cd $(GLIBC_ARCHIVE) | tar -C tmp -xf -
	gzip -cd $(LINUXTHREADS_ARCHIVE) | tar -C tmp/$GLIBC_DIR -xf -
	# Apply patch
	patch -p1 -d tmp/$GLIBC_DIR <patches/glibc-2005-10-04.diff
	# Move into place
	mv -v tmp/$GLIBC_DIR .
	mkdir -p stamp-dir
	touch stamp-dir/unpack-patch-glibc

stamp-dir/configure-glibc: stamp-dir/unpack-patch-glibc
	mkdir -p glibc-objs
	# Use --disable-profile to save disc space
	( cd glibc-objs && \
	  ../$GLIBC_DIR/configure \
		--prefix=/usr \
		--enable-add-ons=linuxthreads \
		--without-selinux --enable-kernel=2.2.0 \
		--with-tls --without-__thread \
		--disable-profile \
	)
	mkdir -p stamp-dir
	touch stamp-dir/configure-glibc

stamp-dir/build-glibc: stamp-dir/configure-glibc
	cd glibc-objs && make
	cd glibc-objs && ../make-glibc-extra.sh
	mkdir -p stamp-dir
	touch stamp-dir/build-glibc

binary-arch:	checkroot stamp-dir/build-glibc
	$(checkdir)
	./configure GLIBC_DIR=glibc-objs
	./make.sh
	./debian/make-package.sh

define checkdir
        test -f debian/rules
endef

binary:	binary-arch

checkroot:
	$(checkdir)
	test $$(id -u) = 0
