#!/usr/bin/make -f

# Copyright (C) 2004, 2005 Mark Seaborn
#
# This file is part of Plash.
#
# Plash is free software; you can redistribute it and/or modify it
# under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation; either version 2.1 of
# the License, or (at your option) any later version.
#
# Plash is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# Lesser General Public License for more details.
#
# You should have received a copy of the GNU Lesser General Public
# License along with Plash; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA 02110-1301,
# USA.


package=plash

GLIBC_DIR		= glibc-2.3.6
GLIBC_BUILD		= glibc-2.3.6-objs
GLIBC_ARCHIVE		= glibc-2.3.6.tar.bz2
LINUXTHREADS_ARCHIVE	= glibc-linuxthreads-2.3.6.tar.bz2

binary:	binary-arch

clean:
	# nothing

stamp-dir/unpack-patch-glibc:
	if [ ! -e $(GLIBC_ARCHIVE) ]; then \
	  echo File $(GLIBC_ARCHIVE) not present; \
	  echo Try downloading ftp://ftp.gnu.org/gnu/glibc/$(GLIBC_ARCHIVE); \
	fi
	if [ ! -e $(LINUXTHREADS_ARCHIVE) ]; then \
	  echo File $(LINUXTHREADS_ARCHIVE) not present; \
	  echo Try downloading ftp://ftp.gnu.org/gnu/glibc/$(LINUXTHREADS_ARCHIVE); \
	fi
	if [ ! -e $(GLIBC_ARCHIVE) ] || [ ! -e $(LINUXTHREADS_ARCHIVE) ]; then exit 1; fi
	# Unpack
	mkdir -p tmp
	bzip2 -cd $(GLIBC_ARCHIVE) | tar -C tmp -xf -
	bzip2 -cd $(LINUXTHREADS_ARCHIVE) | tar -C tmp/$(GLIBC_DIR) -xf -
	# Apply patch
	patch -p1 -d tmp/$(GLIBC_DIR) <patches/glibc-2005-10-04.diff
	# Move into place
	mv -v tmp/$(GLIBC_DIR) .
	mkdir -p stamp-dir
	touch stamp-dir/unpack-patch-glibc

stamp-dir/configure-glibc: stamp-dir/unpack-patch-glibc
	mkdir -p $(GLIBC_BUILD)
	# Use --disable-profile to save disc space
	# -g1 saves a lot of space
	( cd $(GLIBC_BUILD) && \
	  ../$(GLIBC_DIR)/configure \
		CC=gcc-3.3 \
		--prefix=/usr \
		--enable-add-ons=linuxthreads \
		--without-selinux --enable-kernel=2.2.0 \
		--with-tls --without-__thread \
		--disable-profile CFLAGS="-pipe -fstrict-aliasing -g1 -O3" \
	)
	mkdir -p stamp-dir
	touch stamp-dir/configure-glibc

stamp-dir/build-glibc: stamp-dir/configure-glibc
	cd $(GLIBC_BUILD) && make
	GLIBC_SOURCE_DIR=`pwd`/$(GLIBC_DIR) GLIBC_BUILD_DIR=`pwd`/$(GLIBC_BUILD) ./make-glibc-extra.sh
	mkdir -p stamp-dir
	touch stamp-dir/build-glibc

configure:	configure.in
	autoconf

build:	stamp-dir/build-glibc configure
	$(checkdir)
	./configure GLIBC_DIR=$(GLIBC_BUILD)
	./make.sh
	(cd docs && ./make-man-pages.pl)
	(cd web-site && ./make.pl)

binary-arch:	checkroot build
	./debian/make-package.sh

binary-indep:
	# nothing

define checkdir
        test -f debian/rules
endef

checkroot:
	$(checkdir)
	test $$(id -u) = 0
