Source: plash
Section: misc
Priority: optional
Maintainer: Mark Seaborn <mrs@mythic-beasts.com>
Standards-Version: 3.7.2
Build-Depends: glibc-source-2.7, make (>= 3.80-1), tar (>= 1.13.11), linux-libc-dev (>= 2.5.999-test7-bk-9), binutils (>= 2.14.90.0.7-5), gcc-4.1, g++-4.1, sed (>= 4.0.5-4), gawk, debhelper, perl, libgtk2.0-dev (>= 2.8.0), libreadline5-dev, python-all-dev, python-support (>= 0.3), bzip2, docbook2x, docbook-xml, python-gtk2, autoconf

Package: plash
Architecture: any
Depends: ${shlibs:Depends}, ${python:Depends}, python-gtk2, plash-chroot-jail
Provides: ${python:Provides}
Description: Sandbox programs to run them with minimum authority
 Plash is a sandbox for running GNU/Linux programs with the minimum
 necessary privileges.  It is similar to chroot jails, but is more
 lightweight and flexible.  You can use Plash to grant a process
 read-only or read-write access to specific files and directories,
 which can be mapped at any point in its private filesystem namespace.
 .
 Plash provides a command line tool (pola-run) for running programs in
 a sandbox, granting access to specific files and directories.
 .
 Plash also provides a "powerbox" user interface by which the user can
 grant an application the right to access files.  A powerbox is just
 like a normal file chooser dialog box, except that it also grants
 access rights.  The powerbox is implemented as a trusted component --
 applications must ask the system to open a file chooser, rather than
 implementing it themselves.  Plash comes with a patch to Gtk to
 implement GtkFileChooserDialog in terms of the powerbox API.
 .
 The Plash execution environment doesn't require a modified Linux
 kernel -- it uses chroot() and UIDs.  It works with existing Linux
 executables, provided they are dynamically linked, because Plash uses
 a modified version of GNU libc.
 .
 Plash virtualizes the filesystem.  With the modified libc, open()
 works by sending a request across a socket.  The server process can
 send a file descriptor back across the socket in response.  Usually,
 Plash does not slow programs down because the most frequently used
 system calls (such as read() and write()) work on kernel-level file
 descriptors as before.

Package: plash-dev
Architecture: any
Depends: plash (= ${Source-Version})
Description: Development files for libplash
 This package contains the header and library files needed to build software
 using libplash, an object-capability communications protocol library.
