#!/usr/bin/make -f

all: binary

clean:
	dh_clean

build:
	cd setuid && ./make-setuid.sh
	cd elf-chainloader && make
	cd elf-chainloader && python test.py

binary: binary-arch

DEST=debian/plash-chroot-jail

binary-arch:
	./install.sh
	install -d $(DEST)/usr/share/lintian/overrides
	cp -a debian/lintian-overrides \
		$(DEST)/usr/share/lintian/overrides/plash-chroot-jail
	dh_shlibdeps
	dh_installdocs
	dh_installchangelogs
	dh_compress
	dh_strip
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb

binary-indep:
	# nothing
