Source: glibc-source-2.4
Section: misc
Priority: optional
Maintainer: Mark Seaborn <mrs@mythic-beasts.com>
Standards-Version: 3.7.2
Build-Depends: debhelper

Package: glibc-source-2.4
Architecture: all
Description: Source for glibc (GNU C Library) version 2.4
 This package provides the source code for glibc (the GNU C Library)
 version 2.4.  This is used by the source package for Plash to build a
 customised version of glibc.
